---
- include: "{{ ansible_distribution_major_version }}/main.yml"

- name: Installing EPEL Repository
  yum:
    name: epel-release
    state: present
  when: ( repository_install_epel == True )

- name: "Installing Remi Repository for {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
  yum:
    name: "http://rpms.famillecollet.com/enterprise/remi-release-{{ ansible_distribution_major_version }}.rpm"
    state: present
  when: repository_install_remi == True

- name: "Installing IUS Repository for {{ ansible_distribution }} {{ ansible_distribution_major_version }}"
  yum:
    name: "https://{{ ansible_distribution | lower }}.iuscommunity.org/ius-release.rpm"
    state: present
  when: repository_install_ius == True

- name: "Installing yum-plugin-replace"
  yum:
    name: "yum-plugin-replace"
    state: present
  when: repository_install_ius == True
